<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.1%" fxLayoutAlign="center center">
<mat-card-content class="todoapp" *ngIf="myTodos.length > 0">
  <mat-list>
    <form>
      <mat-list-item *ngFor="let myCurrentToDo of myTodos; let index = index" class="list-item" [class.completed]="myCurrentToDo.complete">
        <mat-checkbox color="primary" [name]="'item'+index" [checked]="myCurrentToDo.complete" (change)="toggleComplete(myCurrentToDo)" [ngModel]="myCurrentToDo.complete">  
          <div class="truncate" [class.complete]="myCurrentToDo.complete">{{myCurrentToDo.title}}</div>
        </mat-checkbox>
        <app-remove-my-todo [myParentToDo]=myCurrentToDo></app-remove-my-todo>
      </mat-list-item>
    </form>
  </mat-list>
</mat-card-content>
</div>
