<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.1%" fxLayoutAlign="center center">
<mat-card-content class="todoapp" *ngIf="myTodos.length > 0">
  <mat-list>
    <form>
      <mat-list-item *ngFor="let todo of myTodos; let index = index" class="list-item" [class.completed]="todo.complete">
        <mat-checkbox color="primary" [name]="'item'+index" [checked]="todo.complete" (change)="toggleComplete(todo)" [ngModel]="todo.complete">  
          <div class="truncate" [class.complete]="todo.complete">{{todo.title}}</div>
        </mat-checkbox>
        <app-remove-my-todo [myParentTodo]=todo></app-remove-my-todo>
      </mat-list-item>
    </form>
  </mat-list>
</mat-card-content>
</div>
